/*--- Avanquest WebEasy Page Style ---*/


.cc52               { /* Common */
	font            : 18pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc53               { /* Common */
	font            : 14pt 'Arial', Helvetica, sans-serif;
	color           : #cc6666;
	text-align      : center;
	}
.cc54               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc55               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #cc0000;
	}
div#e20             { /* PATRIMOINE AGEN, SCI MAR... */
	background-color: #e0e0e0;
	position        : absolute;
	left            : 160.50pt;
	top             :  15.00pt;
	width           : 384.75pt;
	height          :  65.25pt;
	}
div#e19             { /* DOCUMENTS DIVERS */
	position        : absolute;
	left            :  26.25pt;
	top             :  92.25pt;
	width           : 407.25pt;
	height          :  21.75pt;
	}
img#e18             { /* sci_2026010001.jpg */
	background-color: transparent;
	position        : absolute;
	left            : 562.50pt;
	top             : 399.00pt;
	width           :  65.25pt;
	height          :  19.50pt;
	}
div#e17             { /* 2026 09 Taxe Foncière po... */
	position        : absolute;
	left            :  52.50pt;
	top             : 205.50pt;
	width           : 531.00pt;
	height          :  20.25pt;
	}
div#e16             { /* 2026 12 Facture EDF pour... */
	position        : absolute;
	left            :  52.50pt;
	top             : 244.50pt;
	width           : 357.75pt;
	height          :  20.25pt;
	}
div#e15             { /* 2025 */
	position        : absolute;
	left            :  46.50pt;
	top             : 118.50pt;
	width           :  33.00pt;
	height          :  32.25pt;
	}
div#e14             { /* 2026 */
	position        : absolute;
	left            :  87.75pt;
	top             : 118.50pt;
	width           :  33.00pt;
	height          :  32.25pt;
	}
div#e13             { /* 2027 */
	position        : absolute;
	left            : 131.25pt;
	top             : 119.25pt;
	width           :  33.00pt;
	height          :  32.25pt;
	}
div#e12             { /* 2028 */
	position        : absolute;
	left            : 169.50pt;
	top             : 118.50pt;
	width           :  33.00pt;
	height          :  32.25pt;
	}
div#e11             { /* 2029 */
	position        : absolute;
	left            : 212.25pt;
	top             : 118.50pt;
	width           :  33.00pt;
	height          :  32.25pt;
	}
div#e10             { /* 2030 */
	position        : absolute;
	left            : 253.50pt;
	top             : 118.50pt;
	width           :  33.00pt;
	height          :  32.25pt;
	}
div#e9              { /* 2026 09 Taxe Foncière po... */
	position        : absolute;
	left            :  52.50pt;
	top             : 224.25pt;
	width           : 360.00pt;
	height          :  20.25pt;
	}
div#e8              { /* 2026  12 Excel regroupan... */
	position        : absolute;
	left            :  52.50pt;
	top             : 264.75pt;
	width           : 611.25pt;
	height          :  20.25pt;
	}
div#e7              { /* 2026  Quittances loyer s... */
	position        : absolute;
	left            :  52.50pt;
	top             : 420.00pt;
	width           : 196.50pt;
	height          :  20.25pt;
	}
div#e6              { /* 2026  Quittances loyer h... */
	position        : absolute;
	left            :  52.50pt;
	top             : 439.50pt;
	width           : 206.25pt;
	height          :  20.25pt;
	}
div#e5              { /* Le calcul des charges à ... */
	position        : absolute;
	left            : 117.75pt;
	top             : 292.50pt;
	width           : 531.00pt;
	height          :  20.25pt;
	}
div#e4              { /* Le compte d'exploitation... */
	position        : absolute;
	left            : 117.75pt;
	top             : 305.25pt;
	width           : 205.50pt;
	height          :  20.25pt;
	}
div#e3              { /* Le Bilan        */
	position        : absolute;
	left            : 117.75pt;
	top             : 319.50pt;
	width           : 205.50pt;
	height          :  18.00pt;
	}
div#e2              { /* La trésorerie prévisionn... */
	position        : absolute;
	left            : 117.75pt;
	top             : 335.25pt;
	width           : 205.50pt;
	height          :  20.25pt;
	}
div#e1              { /* 2026  Excel de réconcili... */
	position        : absolute;
	left            :  52.50pt;
	top             : 377.25pt;
	width           : 346.50pt;
	height          :  20.25pt;
	}



/*--- EndOfFile ---*/
