/*--- Avanquest WebEasy Page Style ---*/


.cc15               { /* Common */
	font            : 18pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc16               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc17               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #808080;
	}
.cc18               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #ff6600;
	}
div#e5              { /* PATRIMOINE AGEN, SCI MAR... */
	background-color: #e0e0e0;
	position        : absolute;
	left            :  34.50pt;
	top             :  15.00pt;
	width           : 514.50pt;
	height          :  58.50pt;
	}
img#e4              { /* sci_2026005001.jpg */
	background-color: transparent;
	position        : absolute;
	left            : 557.25pt;
	top             : 459.00pt;
	width           :  65.25pt;
	height          :  19.50pt;
	}
div#e3              { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            :  36.75pt;
	top             :  80.25pt;
	width           : 624.00pt;
	height          : 332.25pt;
	}
div#e2              { /* Comptabilisation des tax... */
	position        : absolute;
	left            : 128.25pt;
	top             : 462.00pt;
	width           : 435.75pt;
	height          :  25.50pt;
	}
div#e1              { /* N/A Régime fiscal sans T... */
	position        : absolute;
	left            : 417.00pt;
	top             : 319.50pt;
	width           : 326.25pt;
	height          :  17.25pt;
	}



/*--- EndOfFile ---*/
